@media screen and (max-width: 414px) {
    html {
        background-color: white;
    }

    #body {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    #inbody {
        padding: 20px;
    }

    img {
        border-radius: 0;
    }

    h1 {
        line-height: 110%;
    }
}