:root {
    /* for bg-color of <body> */
    --stone100: hsl(30, 54%, 90%);
    /* for <hr> and table border */
    --stone150: hsl(30, 18%, 87%);
    /* --stone600: hsl(30, 10%, 34%); unused color */
    /* for text */
    --stone900: hsl(24, 5%, 18%);
    /* for <h1> */
    --brown800: hsl(14, 45%, 36%);
    /* for bg-color of preparation time */
    --rose50: hsl(330, 100%, 98%);
    /* for title of preparation time etc. */
    --rose800: hsl(332, 51%, 32%);
}

@font-face {
    font-family: outfit;
    src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: young-serif;
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--stone100);
    font-family: outfit;
    font-size: 16px;
    color: var(--stone900);
}

#body {
    background-color: white;
    width: 720px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 20px;
}

img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

h1,
h2 {
    font-family: young-serif;
    font-weight: 100;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    color: var(--brown800);
    margin-bottom: 20px;
}

hr {
    border: none;
    border-top: 1px solid var(--stone150);
    margin: 5% 0;
}

ul {
    list-style-position: outside;
    list-style-type: "•";
    margin-left: 10px;
}

ol {
    list-style-position: outside;
    margin-left: 25px;
}

li {
    margin-top: 10px;
}

ul li:first-child {
    margin-top: 0;
}

ol li:first-child {
    margin-top: 0;
}

ul li {
    padding-left: 30px;
}

ol li {
    padding-left: 15px;
}

ul li::marker {
    color: var(--brown800);
}

ol li::marker {
    font-weight: bold;
    color: var(--brown800);
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-top: 1.5px solid var(--stone150);
}

tr:first-child {
    border-top: none;
}

td {
    padding: 14px 0 14px 31px;
}

tr:first-child td {
    padding-top: 30px;
}

td:nth-child(2) {
    font-weight: bold;
    color: var(--brown800);
    padding-right: 12px;
}

.prep-time {
    background-color: var(--rose50);
    padding: 25px;
    border-radius: 10px;
    margin: 30px 0;
}

.prep-time-title {
    display: block;
    font-weight: bold;
    font-size: larger;
    color: var(--rose800);
    margin-bottom: 15px;
}

.prep-time li::marker {
    color: var(--rose800);
}